USE [vmarou01]
GO
/****** Object:  Table [vmarou01].[APPLICATION]    Script Date: 12/4/2024 4:30:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vmarou01].[APPLICATION](
	[app_id] [int] IDENTITY(1,1) NOT NULL,
	[date_of_app] [datetime] NOT NULL,
	[user_id] [int] NOT NULL,
	[subsidy_name] [nvarchar](255) NULL,
	[carID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[app_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[app_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vmarou01].[DOCUMENT]    Script Date: 12/4/2024 4:30:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vmarou01].[DOCUMENT](
	[doc_id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](100) NOT NULL,
	[size_of_doc] [bigint] NOT NULL,
	[up_date] [date] NOT NULL,
	[path] [nvarchar](max) NULL,
	[app_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[doc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[doc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [vmarou01].[ORDER_VEHICLE]    Script Date: 12/4/2024 4:30:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vmarou01].[ORDER_VEHICLE](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_date] [date] NOT NULL,
	[vehicle_details] [nvarchar](255) NOT NULL,
	[CO2] [int] NULL,
	[price] [int] NOT NULL,
	[app_id] [int] NOT NULL,
	[aa_id] [int] NOT NULL,
	[month_reg] [tinyint] NOT NULL,
	[year_reg] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vmarou01].[SIMPLE_USER]    Script Date: 12/4/2024 4:30:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vmarou01].[SIMPLE_USER](
	[role] [varchar](40) NULL,
	[birthdate] [date] NOT NULL,
	[first_name] [varchar](100) NOT NULL,
	[last_name] [varchar](100) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[nomiko_fisiko] [bit] NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_SIMPLE_USER] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vmarou01].[STATUS]    Script Date: 12/4/2024 4:30:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vmarou01].[STATUS](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[stage] [nvarchar](50) NOT NULL,
	[date_of_modify] [datetime] NOT NULL,
	[reason_of_modify] [nvarchar](max) NULL,
	[app_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [vmarou01].[SUBSIDY]    Script Date: 12/4/2024 4:30:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vmarou01].[SUBSIDY](
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[amount] [decimal](18, 4) NOT NULL,
	[total_amount] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_SUBSIDY_NAME] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_date_of_app]    Script Date: 12/4/2024 4:30:10 AM ******/
CREATE NONCLUSTERED INDEX [idx_date_of_app] ON [vmarou01].[APPLICATION]
(
	[date_of_app] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_subsidy_name]    Script Date: 12/4/2024 4:30:10 AM ******/
CREATE NONCLUSTERED INDEX [idx_subsidy_name] ON [vmarou01].[APPLICATION]
(
	[subsidy_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_user_id]    Script Date: 12/4/2024 4:30:10 AM ******/
CREATE NONCLUSTERED INDEX [idx_user_id] ON [vmarou01].[APPLICATION]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_app_id]    Script Date: 12/4/2024 4:30:10 AM ******/
CREATE NONCLUSTERED INDEX [idx_app_id] ON [vmarou01].[DOCUMENT]
(
	[app_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_category]    Script Date: 12/4/2024 4:30:10 AM ******/
CREATE NONCLUSTERED INDEX [idx_category] ON [vmarou01].[DOCUMENT]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_type]    Script Date: 12/4/2024 4:30:10 AM ******/
CREATE NONCLUSTERED INDEX [idx_type] ON [vmarou01].[DOCUMENT]
(
	[type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_up_date]    Script Date: 12/4/2024 4:30:10 AM ******/
CREATE NONCLUSTERED INDEX [idx_up_date] ON [vmarou01].[DOCUMENT]
(
	[up_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_amount]    Script Date: 12/4/2024 4:30:10 AM ******/
CREATE NONCLUSTERED INDEX [idx_amount] ON [vmarou01].[SUBSIDY]
(
	[amount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [vmarou01].[APPLICATION] ADD  DEFAULT (getdate()) FOR [date_of_app]
GO
ALTER TABLE [vmarou01].[DOCUMENT] ADD  CONSTRAINT [DF_DOCUMENT_up_date]  DEFAULT (getdate()) FOR [up_date]
GO
ALTER TABLE [vmarou01].[ORDER_VEHICLE] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [vmarou01].[STATUS] ADD  DEFAULT (getdate()) FOR [date_of_modify]
GO
ALTER TABLE [vmarou01].[APPLICATION]  WITH CHECK ADD  CONSTRAINT [FK_APPLICATION_SUBSIDY_NAME] FOREIGN KEY([subsidy_name])
REFERENCES [vmarou01].[SUBSIDY] ([name])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [vmarou01].[APPLICATION] CHECK CONSTRAINT [FK_APPLICATION_SUBSIDY_NAME]
GO
ALTER TABLE [vmarou01].[APPLICATION]  WITH CHECK ADD  CONSTRAINT [FK_APPLICATION_USER] FOREIGN KEY([user_id])
REFERENCES [vmarou01].[SIMPLE_USER] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [vmarou01].[APPLICATION] CHECK CONSTRAINT [FK_APPLICATION_USER]
GO
ALTER TABLE [vmarou01].[DOCUMENT]  WITH CHECK ADD FOREIGN KEY([app_id])
REFERENCES [vmarou01].[APPLICATION] ([app_id])
GO
ALTER TABLE [vmarou01].[DOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENT_APPLICATION] FOREIGN KEY([app_id])
REFERENCES [vmarou01].[APPLICATION] ([app_id])
ON DELETE CASCADE
GO
ALTER TABLE [vmarou01].[DOCUMENT] CHECK CONSTRAINT [FK_DOCUMENT_APPLICATION]
GO
ALTER TABLE [vmarou01].[ORDER_VEHICLE]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_APPLICATION] FOREIGN KEY([app_id])
REFERENCES [vmarou01].[APPLICATION] ([app_id])
ON DELETE CASCADE
GO
ALTER TABLE [vmarou01].[ORDER_VEHICLE] CHECK CONSTRAINT [FK_ORDER_APPLICATION]
GO
ALTER TABLE [vmarou01].[ORDER_VEHICLE]  WITH CHECK ADD  CONSTRAINT [FK_OrderVehicle_AAID] FOREIGN KEY([aa_id])
REFERENCES [vmarou01].[SIMPLE_USER] ([user_id])
GO
ALTER TABLE [vmarou01].[ORDER_VEHICLE] CHECK CONSTRAINT [FK_OrderVehicle_AAID]
GO
ALTER TABLE [vmarou01].[STATUS]  WITH CHECK ADD FOREIGN KEY([app_id])
REFERENCES [vmarou01].[APPLICATION] ([app_id])
GO
ALTER TABLE [vmarou01].[STATUS]  WITH CHECK ADD  CONSTRAINT [FK_STATUS_APPLICATION] FOREIGN KEY([app_id])
REFERENCES [vmarou01].[APPLICATION] ([app_id])
ON DELETE CASCADE
GO
ALTER TABLE [vmarou01].[STATUS] CHECK CONSTRAINT [FK_STATUS_APPLICATION]
GO
ALTER TABLE [vmarou01].[DOCUMENT]  WITH CHECK ADD  CONSTRAINT [CHK_DocType] CHECK  (([type]='image/png' OR [type]='image/jpeg' OR [type]='application/pdf'))
GO
ALTER TABLE [vmarou01].[DOCUMENT] CHECK CONSTRAINT [CHK_DocType]
GO
ALTER TABLE [vmarou01].[DOCUMENT]  WITH CHECK ADD  CONSTRAINT [CHK_Document_Category] CHECK  (([category]='certificate' OR [category]='order'))
GO
ALTER TABLE [vmarou01].[DOCUMENT] CHECK CONSTRAINT [CHK_Document_Category]
GO
ALTER TABLE [vmarou01].[DOCUMENT]  WITH CHECK ADD  CONSTRAINT [CHK_Document_Size] CHECK  (([size_of_doc]<=(2097152)))
GO
ALTER TABLE [vmarou01].[DOCUMENT] CHECK CONSTRAINT [CHK_Document_Size]
GO
ALTER TABLE [vmarou01].[SIMPLE_USER]  WITH CHECK ADD  CONSTRAINT [CHK_Role_Values] CHECK  (([role]='Dealer' OR [role]='TOM Officer' OR [role]='Simple User' OR [role]='Admin'))
GO
ALTER TABLE [vmarou01].[SIMPLE_USER] CHECK CONSTRAINT [CHK_Role_Values]
GO
ALTER TABLE [vmarou01].[SIMPLE_USER]  WITH CHECK ADD  CONSTRAINT [CHK_User_Birthdate] CHECK  (([birthdate]<=dateadd(year,(-18),getdate())))
GO
ALTER TABLE [vmarou01].[SIMPLE_USER] CHECK CONSTRAINT [CHK_User_Birthdate]
GO
ALTER TABLE [vmarou01].[SIMPLE_USER]  WITH CHECK ADD  CONSTRAINT [CHK_User_Email_Format] CHECK  (([email] like '%@%.%'))
GO
ALTER TABLE [vmarou01].[SIMPLE_USER] CHECK CONSTRAINT [CHK_User_Email_Format]
GO
ALTER TABLE [vmarou01].[SIMPLE_USER]  WITH CHECK ADD  CONSTRAINT [CHK_User_Username_Length] CHECK  ((len([username])>(5)))
GO
ALTER TABLE [vmarou01].[SIMPLE_USER] CHECK CONSTRAINT [CHK_User_Username_Length]
GO
ALTER TABLE [vmarou01].[STATUS]  WITH CHECK ADD  CONSTRAINT [chk_stage_valid_values] CHECK  (([stage]='approved' OR [stage]='reject' OR [stage]='order sent' OR [stage]='active' OR [stage]='expired'))
GO
ALTER TABLE [vmarou01].[STATUS] CHECK CONSTRAINT [chk_stage_valid_values]
GO
